body {
  background-color: aliceblue;

}

h1 {
  color: maroon;
  text-shadow: 2px 2px black;
}

.border {
  outline: 5px groove maroon;
  width: 25%;
  margin: auto;
}

h1,
p {
  height: 100%;
  width: 100%;
  text-align: center;
}

hr,
footer {
  position: sticky;
  margin-top: 500px;
  /*fix the margin top lmao*/
  /*Preferably make it so that it's sticky, and not depending on px (ACtually all of them need to remove px dependency dammit*/
}

hr {
  border-color: rgb(255, 0, 0, 0.2);
  border-style: ridge;
  width: 100%;
  height: auto;
}

footer {
  width: 25%;
  margin: auto;
  text-align: center;
  color: black;
}

.spoiler {
  width: auto;
  height: auto;
  text-align: center;

}

.open {
  font-size: 25px;
  color: red;
}

.wonder {
  color: aqua;
}

.Shabalamamingaling {
  margin: 15px;
  font-size: 15px;
  color: blue;
}

.quote {
  color: black;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  outline: 1px groove red;
  width: auto;
  height: auto;
}

/* Start https://www.cursors-4u.com */
* {
  cursor: url(https://cur.cursors-4u.net/anime/ani-11/ani1053.cur), auto !important;
}

/* End https://www.cursors-4u.com */